/* contents -Main Page
1. Links
2. Variables
2.1 Colors
3. font styles
4. Positioning
5. Components
5.1 Buttons 
*/

/* contents - Second page
*/


/* font import links*/
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables*/
/*colors*/
:root {
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Medium-Grey: hsl(216, 12%, 54%);
    --Dark-Blue: hsl(213, 19%, 18%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);
}

/*fonts and texts*/
html {
    font-family: 'overpass';
    font-size: 15px;
    background: var(--Very-Dark-Blue);
}

h1,
h2 {
    color: var(--White);
}

p {
    color: var(--Light-Grey);
}

em {
    font-style: normal;
}

/*Positioning*/
/*first page*/
body {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
    
}

.main-content {
    flex-direction: column;
    width: 50%;
    max-width: 360px;
    gap: 1rem;
    background: var(--Dark-Blue);
    padding: 40px;
    border-radius: 20px;
    font-size: 0.9rem;
    background-image: radial-gradient(circle at top, var(--Dark-Blue) 0%, var(--Very-Dark-Blue) 125%);
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    justify-content: center;
}

.buttons {
    display: flex;
    gap: 5%;
}

/*Thank you page*/
.thanks {
    align-items: center;
    text-align: center;
    gap: 1.5rem;
}

.score {
    background-color: hsla(216, 12%, 54%, 0.25);
    border-radius: 15px;
    padding: 2% 4%;
    
}

.text {
    color: var(--Orange);
}

/*components*/

.image {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: hsla(216, 12%, 54%, 0.25);
    display: grid;
    place-items: center;
}

/*buttons*/
.number {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: hsla(216, 12%, 54%, 0.25);
    border: none;
    color: var(--White);
    transition: 0.25s linear;
}

.number:hover {
    cursor: pointer;
    background-color: var(--Medium-Grey);
}

.selected {
    background-color: var(--Orange);
}


.submit {
    border-radius: 20px;
    background-color: var(--Orange);
    border: none;
    padding: 4%;
    color: var(--White);
    font-size: 0.7rem;
    letter-spacing: 0.2rem;
    font-weight: 700;
    transition: 0.25s linear ;
} 

input:hover {
    cursor: pointer;
    background-color: var(--White);
    color: var(--Orange);
}


/* Change page states */

.hidden {
    display: none;
}

.active {
    display: flex;
}
